header {
    width: 330px;
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 20px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: black;
}

footer {
    width: 330px;
    background-color: #f0f0f0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 20px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border-color: black;
}

.main {
    border: black;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0d63b5;
}

.eq button {
    width: 215%;
}